body {
    background-color: cornflowerblue;
}
@media screen and (min-width: 576px) and (max-width: 768px){
    body {
        background-color: indigo;
    }
}
@media screen and (min-width: 769px) and (max-width: 992px){
    body {
        background-color: darkorange;
    }
}
@media screen and (min-width: 993px) and (max-width: 1200px){
    body {
        background-color: chartreuse;
    }
}
@media screen and (min-width: 1201px) {
    body {
        background-color: darkseagreen;
    }
}

@media screen and (min-width: 599px) and (max-width: 601px) {
    h1 {
        text-align: center;
        text-decoration: underline;
    }

}

/*320px*/
/*480px*/
/*768px*/
/*1024px*/
/*1200px*/